@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+SC:wght@100..900&display=swap');
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    outline: none;
    border: none;
    text-decoration: none;
    font-family: "Poppins", sans-serif;  
  }
  :root {
    --color1: #072227;
    --color2: #35858b;
    --color3: #4fbdba;
    --color4: #aefeff;
    --color5:#314e65;
    --black: #000;
    --white: #fff;
    --lightgray: #d3d3d3;
    --lightgray1: rgba(211,211,211,.7);
    --red: rgb(238, 62, 62);
  } 
  html {
    font-size: 62.5%;
    overflow-x: hidden;
  }
  body {
      position: relative;
      /*display: flex;
      justify-content: center;
      align-items: center;
      min-height: 100vh; */
      background: url('background.png') repeat;
      background-size: cover;
      background-position: center;
  }
  
  .container {
    max-width: 1100px;
    margin: 0 auto;
    padding-bottom: 5rem;
    height: 100vh;
    background-color: var(--lightgray1);
  }
  
  /* header styles */
  .header {
    position: sticky;
    background-color: rgba(47, 55, 77, 1);
    top: 0;
    left: 0;
    width: 100%;
    justify-content: space-between;
    align-items: center;
    z-index: 99;
    backdrop-filter: 0.9;
  }
  .header .header_body {
    display: flex;
    align-items: center;
    padding: 1rem 4rem;
  }
  .header .header_body .logo {
    margin-right: auto;
    font-size: 4rem;
    color: var(--white);
  }
  .navigation a {
      position: relative;
      font-size: 2.1rem;
      color: #fff;
      text-decoration: none;
      font-weight: 500;
      margin-left: 40px; 
  }
  
  .navigation a::after {
      content: '';
      position: absolute;
      left: 0;
      bottom: -6px;
      width: 100%;
      height: 3px;
      background: #fff;
      border-radius: 5px;
      transform-origin: right;
      transform: scaleX(0);
      transition: transform .5s;
  }  
  .navigation a:hover::after {
      transform-origin: left;
      transform: scaleX(1);
  }  
  .navigation .btnLogin-popup {
      width: 130px;
      height: 50px;
      background: transparent;
      border:2px solid #fff;
      outline: none;
      border-radius: 6px;
      cursor: pointer;
      font-size: 2rem;
      color: #fff;
      font-weight: 500;
      margin-left: 40px;
      transition: .5s;
  }  
  .navigation .btnLogin-popup:hover {
      background:#fff;
      color: #162938;
  }

  /* 登录窗口 */
.wrapper {
    position: absolute;
    left: 50%;
    top: 50%;
    margin-top: -200px;
    margin-left: -220px;
    z-index: 10;
    width: 400px;
    height: 560px;
    background: transparent;
    border: 2px solid rgba(255, 255, 255, .5);
    border-radius: 20px;
    backdrop-filter: blur(50px);
    box-shadow: 0 0 30px rgba(0,0,0,.5);
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    transform: scale(0);
    transition: transform .2s ease, height .2s ease;
}
.wrapper.active-popup {
    transform: scale(1);
}
/* .wrapper.active {
    height: 520px;
} */
.wrapper .form-box {
    width: 100%;
    padding: 40px;
}
.wrapper .form-box.login {
    /* display: none; */
    transition: transform .18s ease;
    transform: translateX(0);
}
.wrapper.active .form-box.login {
    transition: none;
    transform: translateX(-400px);
}
.wrapper .form-box.register {
    position: absolute;
    transition: none;
    transform: translateX(400px);
}
.wrapper.active .form-box.register {
    /* display: none; */
    height: auto;
    transition: transform .18s ease;
    transform: translateX(0);
}
.wrapper .icon-close {
    position: absolute;
    top: 0;
    right: 0;
    width: 45px;
    height: 45px;
    background: #162938;
    font-size: 2.5rem;
    color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    border-bottom-left-radius: 20px;
    cursor: pointer;
    z-index: 1;
}
.form-box h2 {
    font-size: 3rem;
    color: #162938;
    text-align: center;
}
.input-box {
    position: relative;
    width: 100%;
    height: 50px;
    border-bottom: 2px solid #162938;
    margin: 30px 0;
}
.input-box label {
    position: absolute;
    top: 50%;
    left: 5px;
    transform: translateY(-50%);
    font-size: 1.7rem;
    color: #162938;
    font-weight: 500;
    pointer-events: none;
    transition: .5s;
}
.input-box input:focus~label, 
.input-box input:valid~label {
    top: -5px;
}
.input-box input {
    width: 100%;
    height: 100%;
    background: transparent;
    border: none;
    outline: none;
    font-size: 1.7rem;
    color: #162938;
    font-weight: 600;
    padding: 0 35px 0 5px;
}
.input-box .icon {
    position: absolute;
    right: 8px;
    font-size: 1.7rem;
    color: #162938;
    line-height: 57px;
}
.remember-forget {
    font-size: 1.3em;
    color: #162938;
    font-weight: 500;
    margin: -15px 0 15px;
    display: flex;
    justify-content: space-between;
}
.remember-forget label input {
    accent-color: #162938;
    margin-right: 3px;
}
.remember-forget a {
    color: #162938;
    text-decoration: none;
}
.remember-forget a:hover {
    text-decoration: underline;
}
.btn {
    width: 100%;
    height: 45px;
    background: #162938;
    border: none;
    outline: none;
    border-radius: 6px;
    cursor: pointer;
    font-size: 2rem;
    color: #fff;
    font-weight: 500;
}
.login-register {
    font-size: 1.5rem;
    color: #162938;
    text-align: center;
    font-weight: 500;
    margin: 25px 0 10px;
}
.login-register p a {
    color: #162938;
    text-decoration: none;
    font-weight: 600;
}
.login-register p a:hover {
    text-decoration: underline;
}

  /* index.php file */
  .display_message {
    background-color: var(--color2);
    padding: 2.5rem 2rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  .display_message span {
    font-size: 1.5rem;
  }
  .display_message i {
    font-size: 2.5rem;
    cursor: pointer;
  }
  
  .display_message i:hover {
    color: var(--red);
  }
  

.heading {
    text-align: center;
    font-size: 3rem;
    text-transform: uppercase;
    padding: 1.5rem 0 2rem;
    color: var(--color1);
  }
  section {
    padding: 1rem;
  }
    /* add products form */
  .add_product,
  .update_product {
    max-width: 600px;
    background-color: var(--color2);
    border-radius: 0.5rem;
    padding: 2rem;
    margin: 0 auto;
    margin-top: 2rem;
  }
  .add_product .input_fields,
  .update_product .input_fields {
  
    padding: 1rem 1.2rem;
    font-size: 1.6rem;
    color: var(--black);
    background-color: var(--white);
    margin: 1.5rem 0;
    width: 100%;
  }
  
  /* submit button */
  .submit_btn,
  .edit_btn,
  .cancel_btn {
    display: block;
    width: 50%;
    text-align: center;
    background-color: var(--color1);
    color: var(--white);
    font-size: 1.7rem;
    padding: 1.2rem 3rem;
    border-radius: 0.5rem;
    cursor: pointer;
    margin-top: 2rem;
    margin: 0 auto;
  }
  .cancel_btn {
    background-color: var(--red);
    margin: 2rem auto;
  }
  .submit_btn:hover {
    color: var(--color3);
  }
  

  /* view_products.php */
  .display_product table {
    width: 100%;
    text-align: center;
  }
  .display_product table thead th {
    padding: 1.5rem;
    font-size: 1.5rem;
    background-color: var(--color2);
    color: var(--white);
  }
  td {
    padding: 1rem;
    font-size: 1.5rem;
    color: var(--color1);
    border: 1px solid var(--white);
    text-transform: uppercase;
  }
  .empty_text {
    background-color: var(--color2);
    padding: 2.5rem 2rem;
    font-size: 2rem;
    text-align: center;
  }
  .btns {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
  }
  .delete_product_btn,
  .update_product_btn {
    text-align: center;
    color: var(--red);
    font-size: 1.7rem;
    padding: 0 1rem;
    cursor: pointer;
  }
  .update_product_btn {
    color: var(--color2);
  }
  .product_container_box {
    text-align: center;
    height: 70%;
  }
  
  img {
    width: 20%;
    margin: 0 auto;
  }
  
  /* shop_product.php file styles */
  .product_container {
    display: grid;
    grid-template-columns: repeat(auto-fit, 30rem);
    gap: 2rem;
    justify-content: center;
  }
  .product_container .edit_form {
    text-align: center;
    padding: 2rem;
    box-shadow: var(--black);
    border: var(--border);
    border-radius: 0.5rem;
    background-color: var(--white);
    box-shadow: 2px 5px 14px #888888;
  }
  .product_container .edit_form img {
    width: 50%;
    margin: 0 auto;
  }
  
  .products .edit_form h3 {
    margin: 1rem 0;
    font-size: 2rem;
    color: var(--black);
    text-transform: uppercase;
  }
  .products .edit_form .price {
    font-size: 1.7rem;
    color: var(--color1);
    margin: 1rem 0;
  }
  .cart_btn {
    text-align: center;
    padding: 1rem 0;
  }
  
  /* cart.php */
  .shopping_cart table {
    text-align: center;
    width: 100%;
  }
  .shopping_cart table thead th {
    padding: 1.5rem;
    font-size: 1.6rem;
    color: var(--white);
    background-color: var(--color2);
  }
  .table_bottom {
    background-color: var(--color1);
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 2rem;
    margin: 1rem 0 3rem 0;
  }
  .bottom_btn {
    color: var(--black);
    font-size: 1.3rem;
    background-color: var(--color4);
    padding: 1rem;
  }
  .bottom_btn span {
    color: green;
  }
  
  .delete_all_btn {
    background-color: var(--color1);
    color: var(--white);
    font-size: 1.3rem;
    padding: 1.5rem;
  }
  .delete_all_btn .fa-trash {
    color: var(--red);
    margin-right: 0.5rem;
  }
  .quantity_box {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  .quantity_box input {
    width: 40%;
    padding: 0.5rem;
  }
  .update_quantity {
    color: var(--white);
    padding: 0.5rem;
    background-color: var(--color1);
    margin: 1rem 0;
  }
  /* media queries */
  
  @media (max-width: 1200px) {
    .shopping_cart {
      overflow-x: scroll;
    }
  
    .shopping_cart table {
      width: 120rem;
    }
  
    .shopping_cart .heading {
      text-align: left;
    }
  
    .shopping_cart .checkout-btn {
      text-align: left;
    }
  }
  
  @media (max-width: 991px) {
    html {
      font-size: 55%;
    }
  }
  
  @media (max-width: 768px) {
    #menu-btn {
      display: inline-block;
      transition: 0.2s linear;
    }
  
    #menu-btn.fa-times {
      transform: rotate(180deg);
    }
  
    .header .header_body .navbar {
      position: absolute;
      top: 99%;
      left: 0;
      right: 0;
      background-color: var(--blue);
      clip-path: polygon(0 0, 100% 0, 100% 0, 0 0);
      transition: 0.2s linear;
    }
  
    .header .header_body .navbar.active {
      clip-path: polygon(0 0, 100% 0, 100% 100%, 0% 100%);
      background-color: var(--color1);
    }
  
    .header .header_body .navbar a {
      margin: 2rem;
      display: block;
      text-align: center;
      font-size: 2.5rem;
    }
  
    .display_product {
      overflow-x: scroll;
    }
  
    .display_product table {
      width: 90rem;
    }
    .table_bottom {
      display: block;
      text-align: center;
    }
    .bottom_btn {
      color: var(--black);
      font-size: 1.3rem;
      background-color: var(--color4);
      padding: 1rem;
      margin: 2rem 0;
    }
  }
  
  @media (max-width: 450px) {
    html {
      font-size: 50%;
    }
  
    .heading {
      font-size: 3rem;
    }
  
    .products .product_container {
      grid-template-columns: 1fr;
    }
  }